
header {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
body {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
h1 {
  margin: 5px;
}
ul {
  list-style-type: none;
  padding-left: 10%;
  padding-right: 10%;
}
li {
  display: inline;
  float: left;
}
#worldmap {
  display:block;
  margin: 5px;
  border-style: solid;
  border-width: thin;
  border-color: steelblue;
}
#countries {
  fill: #cde;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}
#countries .active {
  fill: #89a;
}
#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}
#maparea {
  display: block;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
#chartarea {
  display: block;
  width: 50%;
  padding-left: 25%;
  padding-right: 25%;
}

.chart div {
  font: 10px sans-serif;
  background-color: #89a; 
  padding: 3px;
  color: white;
}
.background {
  fill: none;
  pointer-events: all;
}
.tooltip_key {
  font-weight: bold;
}
.tooltip_value {
  margin-left: 20px;
  float: right;
}