
body {
  text-align: center;
}
#page-content {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
ol {
  margin: auto, auto;
}
ol li {
  list-style-position: inside; 
}
ul {
  list-style-type: none;
}
ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: auto;
  margin-top: auto;
}
.worldmap {
  border-style: solid;
  border-color: steelblue;
}
.chartArea{
  margin-left:auto;
  margin-right: auto;
}
#countries {
  fill: #cde;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}
#countries .active {
  fill: #89a;
}
#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}
.background {
  fill: none;
  pointer-events: all;
}
.tooltip_key {
  font-weight: bold;
}
.tooltip_value {
  margin-left: 20px;
  float: right;
}
.status {
  float: none;
  margin: auto auto;
}
